body{
	background-image: url(stripes-light.png);
}

.cardView{
	margin: 20px;
	width: 350px;
	border: 11px solid #E8E8E8;
	border-radius: 7px;
	height: 430px;
}

.logo{
	height: 400px;
	margin-top: -40px;
	margin-bottom: -40px;	
}

#image img{
	height: 100%;
	max-width: 100%;
	object-fit: contain;
	padding: 20px;
}

.heading{
	text-align: center;
	font-size: 19px;
}

a:link{
	color: white;
}
a:visited{
	color: white;
}

.title{
	text-align: center;
	font-size: 40px;
}